<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Gemstone | My Orders</title>
    {% include 'publicHeader.html' %}
</head>

<body>
{% if request.session.client %}
    {% include 'clientNavbar.html' %}
{% else %}
    {% include 'publicNavbar.html' %}
{% endif %}
<div class="main-sec"></div>
<!-- breadcrumb -->
<div class="breadcrumb-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="breadcrumb-content">
            <h2 class="text-white">Order Details</h2>
            <ul>
                <li><a href="/">Home</a>
                </li>
                <li><a href="shop">Shop</a>
                </li>
                <li class="active">Orders</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<!-- tracking map -->
<section class="checkout-page section-padding bg-light-theme">
    <div class="text-custom-red display-4 text-center">My Orders</div>
    <div class="container-fluid custom-container">
        <div class="u-line mb-xl-20">
            <div class="row">
                <div class="col-lg-12">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table table-responsive">
                            <div class="container">
                                <table class="table table-bordered text-dark">
                                    <thead>
                                    <tr>
                                        <th>Bill No.</th>
                                        <th>Bill Date</th>
                                        <th>Address</th>
                                        <th>Payment Method</th>
                                        <th>Grand Total</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {#                                                                                <td>{{ i.srno }}</td>#}
                                        <td>{{ i.billid }}</td>
                                        <td>{{ i.billtime }}</td>
                                        <td>{{ i.address }}</td>
                                        <td>{{ i.paymentmethod }}</td>
                                        <td>&#8377; {{ i.grandtotal }}</td>
                                        <td>{{ i.status }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-custom-red display-4 text-center">Product Detail
                                </div>
                                <table class="table table-bordered text-dark">
                                    <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Discount</th>
                                        <th>Quantity</th>
                                        <th>Net Price</th>
                                        <th>Product Image</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in context %}
                                        <tr>
                                            <td>{{ i.srno }}</td>
                                            <td>{{ i.product.0 }}</td>
                                            <td>&#8377; {{ i.product.1 }}</td>
                                            <td>{{ i.product.2 }}%</td>
                                            <td>{{ i.quantity }}</td>
                                            <td>&#8377; {{ i.price }}</td>
                                            <td style="width: 20%"><img src="{% static 'media/' %}{{ i.product.3 }}"
                                                                        alt="" class="image-fluid"
                                                                        style="width: 350px;height: 150px"></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a href="shop" class="btn btn-cart"> << Continue Shopping</a>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'myjs/my-account.js' %}"></script>
{% include 'publicFooter.html' %}
</body>


<!-- Mirrored from slidesigma.com/themes/html/gemstone/order-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Feb 2020 08:21:02 GMT -->
</html>
